<section class="about-section">
  <div class="container">
    <div class="about-header">
      <h2 class="about-title">About Us</h2>
    </div>
    <div class="about-content">
      <div class="about-text">
        <p class="about-paragraph">
          the perfect addition to their outfits with our range of merchandise
        </p>
        <h3 class="about-overview">
          A brand of small products that make a huge difference to your everyday<br>
          look
        </h3>
        <p class="paragraph-overview">
          We strive to produce quality fashionable products that adhere to your
          comfort. We currently have 15 products in-store and more to come! We will
          be the brand that produces small products that make a huge difference in
          your day-to-day outfits. Having that fashionable yet still comfortable
          piece to your fit can make a big impact on your day-to-day life.
        </p>
      </div>
      <div class="about-image">
        <img src="/img/about-img/about-women.webp" alt="women">
      </div>
    </div>
  </div>
</section>
