<section class="privacy-policy">
    <div class="container">
        <h2 class="privacy-title">
            Privacy Policy
        </h2>
        <div class="privacy-policy-container">
            <div class="blog-nav">
                <h3 class="archives-subtitle">Archives</h3>
                <ul class="archives-list">
                    <li class="archives-items">
                        <p class="archives-text">March 2022</p>
                        <p class="archives-number">(1)</p>
                    </li>
                    <li class="archives-items">
                        <p class="archives-text">February 2022</p>
                        <p class="archives-number">(2)</p>
                    </li>
                    <li class="archives-items">
                        <p class="archives-text">January 2022</p>
                        <p class="archives-number">(3)</p>
                    </li>
                </ul>
                <h3 class="categories-subtitle">Categories</h3>
                <ul class="categories-list">
                    <li class="categories-item">
                        <p class="categories-text">Electric</p>
                        <p class="categories-number">(3)</p>
                    </li>
                    <li class="categories-item">
                        <p class="categories-text">Fan</p>
                        <p class="categories-number">(2)</p>
                    </li>
                    <li class="categories-item">
                        <p class="categories-text">Machine</p>
                        <p class="categories-number">(2)</p>
                    </li>
                </ul>
                <h3 class="posts-subtitle">Recent Posts</h3>
                <ul class="posts-list">
                    <li class="posts-item">
                        <img src="../../../img/blog-img/blog-post-img.webp" alt="women" class="posts-img">
                        <div class="posts-box">
                            <p class="posts-text">Bruden Mode ...</p>
                            <p class="posts-date">April 3, 2022</p>
                        </div>
                    </li>
                    <li class="posts-item">
                        <img src="../../../img/blog-img/blog-post-img.webp" alt="women" class="posts-img">
                        <div class="posts-box">
                            <p class="posts-text">Bruden Mode ...</p>
                            <p class="posts-date">April 3, 2022</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="second-section">
                <p class="disription">
                    We know that in this digital age, your privacy is important
                    . This Privacy Policy reflects our commitment to protect pe
                    rsonal data and the choices we offer you regarding how your
                     data is used. We welcome you to read more about how we kee
                     p your information safe, as well as how you can exercise y
                     our rights. In addition, our Privacy policy covers our tre
                     atment of data that may be personal to you. <br><br>
    
                    ‍We will review, update, and amend these policies from time 
                    to time consistent with our business needs and technology. 
                    We encourage you to check back periodically for new updates 
                    or changes. Your continued use of the service makes up your 
                    acceptance of any change to this Privacy Policy. We are the 
                    data controller of your information. We handle and process a
                    ll data on behalf of our customers<br><br>
    
                    You may likewise decide not to give us "discretionary" Person
                    al Data; however please remember that without it, we will mos
                    t likely be unable to provide you with the full scope of our 
                    administrations or with the best client experience when util
                    izing our Services.<br><br>
    
                    This Privacy Policy (“Privacy Policy”) describes how Bruden M
                    ode. will gather, use, and maintain your Personal Information
                    on the brudenmode.com. It will also explain your legal rights 
                    with respect to that information.<br><br>
    
                    Our website is hosted on Wix Platform, Please review their pri
                    vacy policy, or click here.<br><br>
    
                    By using the website or services, you confirm that you have re
                    ad and understand this Privacy Policy, and our Terms (together
                     referred to herein as the “Agreement”). The Agreement governs 
                     the use of brudenmode.com. Bruden Mode will collect, use, and 
                     aintain information consistent with the Agreement.<br><br>
                </p>
                <h3 class="privacy-subtitle">
                    What private data do we collect from the people who visit our website?
                </h3>
                <p class="disription">
                    When enlisting on our site or buying Products, as suitable, you
                     could be approached to type in your name, email, postage infor
                     ation, payment information, or different subtleties to assist y
                     ou with your experience.<br><br>

                    Personal Data: Personal Data is information that can be used to
                     identify you specifically, including your name, email address, 
                     telephone number, or demographic information like your hometown
                     . You consent to give us this information by providing it to us
                      voluntarily on our website. Your decision to disclose this data
                       is entirely voluntary. You are under no obligation to provide 
                       this information, but your refusal may prevent you from accessi
                       ng certain benefits from our website.<br><br>

                    Financial Data: Financial data is related to your payment methods,
                     such as credit card or bank transfer details. We collect financia
                     l data to allow you to purchase, order, return or exchange produc
                     s or services from our website. We store limited financial data. M
                     ost financial data is transferred to our payment processor, PayPal
                     , and Stripe and you should review these processors' Privacy Polic
                     y to determine how they use, disclose, and protect your financial data.<br><br>

                    As a courtesy, PayPal Privacy Policy can be found here https://www.paypal.com/us/webapps/mpp/ua/privacy-full<br><br>

                    Stripe Privacy Policy can be found here https://stripe.com/gb/privacy<br><br>
                </p>
                <h3 class="privacy-subtitle">
                    Automatically collected information about your use of our Services or tools
                </h3>
                <p class="disription">
                    This information is registered automatically with the visit by own configuration or manual of each tool on the website<br><br>

                    When you visit, connect with, or utilize our service, we may gather, record, or create specific specialized data about
                     you. We do so either autonomously or with the assistance of third gathering Service Providers, including using "cooki
                     es" and other following innovations.<br><br>

                    We automatically collect certain information when you visit, use or navigate the Website. This information does not rev
                    eal your specific identity (like your name or contact information) but may include device and usage information, such a
                    s your IP address, browser and device characteristics, operating system, language preferences, referring URLs, device na
                    me, country, location, information about how and when you use our Website and other technical information. This informat
                    ion is primarily needed to maintain the security and operation of our Website, and for our internal analytics and reporti
                        ng purposes.<br><br>
                </p>
                <h3 class="privacy-subtitle">
                    Do Not Track
                </h3>
                <p class="disription">
                    Currently, various browsers — such as Internet Explorer, Firefox, and Safari —
                     offer a “do not track” or “DNT” option that relies on a technology known as a
                      DNT header, which sends a signal to Web sites’ visited by the user about the 
                      user's browser DNT preference setting. <br><br>

                    commit to responding to browsers' DNT signals with respect to the Company's We
                    b sites, in part, because no common industry standard for DNT has been adopted 
                    by industry groups, technology companies or regulators, including no consistent
                     standard of interpreting user intent. Bruden Mode takes privacy and meaningful
                      choice seriously and will make efforts to continue to monitor developments aro
                      und DNT browser technology and the implementation of a standard.<br><br>
                </p>
                <h3 class="privacy-subtitle">
                    How do we use your details?
                </h3>
                <p class="disription">
                    We process personal data to operate, improve, understand, and personalize our services. We use personal data for the following purposes:<br><br>

                    To meet or fulfill the reason you provided the information to us.<br><br>

                    To validate, confirm, verify, deliver, install, and track your order 
                    (including to process payment card transactions, arrange for shipping,
                     handle returns and refunds, maintain a record of the purchases you m
                     ake, and contact you about your orders, including by telephone) or t
                     o service products you purchased from us.<br><br>

                    To enhance your online shopping experience, including to recognize you and welcome you to the Site.<br><br>

                    To send you catalogs, information, newsletters, promotional materials,
                     and other offerings from the Company or on behalf of our partners an
                     d affiliates.<br><br>

                    To communicate with you about the Services, including Service announcements, updates or offers.<br><br>

                    Correspond with you; and<br><br>

                    To provide certain features or functionality of the services on the site.<br><br>

                    To create, maintain, customize, and secure your account with us.<br><br>

                    To provide you with support, to communicate with you and respond to your 
                    inquiries, including to investigate and address your concerns and monitor 
                    and improve our responses.<br><br>

                    To prevent illegal activity, fraud, and abuse.<br><br>

                    To help our site that will be ready to serve you better.<br><br>

                    We will not collect additional categories of Personal Data or use the Perso
                    nal Data we collected for materially different, unrelated, or incompatible purposes without providing you notice.<br><br>

                    As noted in the list above, we may communicate with you if you've provided 
                    us the means to do so. For example, if you've given us your email address, 
                    we may send you promotional email offers or email you about your use of the
                     Services. Also, we may receive a confirmation when you open an email from u
                     s, which helps us improve our services. If you do not want to receive commun
                     ications from us, please indicate your preference by contacting us.<br><br>
                </p>
                <h3 class="privacy-subtitle">
                    How do we use your details?
                </h3>
                <p class="disription">
                    We use cookies and similar technologies for several purposes, depending o
                    n the context or service, including: <br><br>

                    Recognizing you if you sign in to use our offerings. This allows us to pro
                    vide you with recommendations, display personalized content, and provide ot
                    her customized features and services.<br><br>

                    Keeping track of your specified preferences. This allows us to honor your 
                    likes and dislikes, such as your language and configuration preferences.<br><br>

                    Detecting and preventing fraudulent activity and improving security.<br><br>

                    Conducting research and diagnostics to improve our offerings.<br><br>

                    Reporting, which allows us to measure and analyze the performance of our offerings.<br><br>
                </p>
            </div>
        </div>
    </div>
</section>