<section class="gallery">
    <div class="container">
      <h2 class="gallery-title">Insta-gallery</h2>
      <ul class="gallery-posts">
        <li class="gallery-post">
          <img src="../../../img/blog-img/gallery-img/gallery-photo1.webp" alt="women" class="gallery-img" />
        </li>
        <li class="gallery-post">
          <img src="../../../img/blog-img/gallery-img/gallery-photo2.webp" alt="women" class="gallery-img" />
        </li>
        <li class="gallery-post">
          <img src="../../../img/blog-img/gallery-img/gallery-photo3.webp" alt="women" class="gallery-img" />
        </li>
        <li class="gallery-post">
          <img src="../../../img/blog-img/gallery-img/gallery-photo4.webp" alt="women" class="gallery-img" />
        </li>
        <li class="gallery-post">
          <img src="../../../img/blog-img/gallery-img/gallery-photo5.webp" alt="women" class="gallery-img" />
        </li>
        <li class="gallery-post">
          <img src="../../../img/blog-img/gallery-img/gallery-photo6.webp" alt="women" class="gallery-img" />
        </li>
        <li class="gallery-post">
          <img src="../../../img/blog-img/gallery-img/gallery-photo7.webp" alt="women" class="gallery-img" />
        </li>
        <li class="gallery-post">
          <img src="../../../img/blog-img/gallery-img/gallery-photo8.webp" alt="women" class="gallery-img" />
        </li>
        <li class="gallery-post">
          <img src="../../../img/blog-img/gallery-img/gallery-photo9.webp" alt="women" class="gallery-img" />
        </li>
      </ul>
      <div class="gallery-button-box">
        <button class="gallery-button-first-page" type="button">1</button>
        <button class="gallery-button-second-page" type="button">2</button>
        <button class="gallery-button-control" type="button">></button>
      </div>
    </div>
  </section>
  