<section class="products">
    <div class="container">
        <h2 class="products-title">Latest products</h2>
        <ul class="products-list">
            <li class="products-item">
                <img src="../../../img/blog-img/products-img/products-bag1.webp" alt="bag" class="products-img">
                <p class="products-text">Fiery Red Bruden Backpack</p>
                <img src="../../../img/blog-img/stars.png" alt="stars" class="products-stars">
                <p class="products-cash">C$ 99.99</p>
            </li>
            <li class="products-item">
                <img src="../../../img/blog-img/products-img/products-bag2.webp" alt="bag" class="products-img">
                <p class="products-text">Bruden's Backpack</p>
                <img src="../../../img/blog-img/stars.png" alt="stars" class="products-stars">
                <p class="products-cash">C$ 99.99</p>
            </li>
            <li class="products-item">
                <img src="../../../img/blog-img/products-img/products-bag3.webp" alt="bag" class="products-img">
                <p class="products-text">Bruden Belt</p>
                <img src="../../../img/blog-img/stars.png" alt="stars" class="products-stars">
                <p class="products-cash">C$ 99.99</p>
            </li>
            <li class="products-item">
                <img src="../../../img/blog-img/products-img/products-bag4.webp" alt="bag" class="products-img">
                <p class="products-text">Sweet Pink Bruden Backpack</p>
                <img src="../../../img/blog-img/stars.png" alt="stars" class="products-stars">
                <p class="products-cash">C$ 99.99</p>
            </li>
            <li class="products-item">
                <img src="../../../img/blog-img/products-img/products-bag5.webp" alt="bag" class="products-img">
                <p class="products-text">POS</p>
                <img src="../../../img/blog-img/stars.png" alt="" class="products-stars">
                <p class="products-cash">C$ 99.99</p>
            </li>
            <li class="products-item">
                <img src="../../../img/blog-img/products-img/products-bag6.webp" alt="bag" class="products-img">
                <p class="products-text">MTL</p>
                <img src="../../../img/blog-img/stars.png" alt="stars" class="products-stars">
                <p class="products-cash">C$ 99.99</p>
            </li>
        </ul>
        <button class="products-button">
            <img src="../../../img/blog-img/products-left-arrow.webp" alt="arrow" class="products-control">
        </button>
        <button class="products-button">
            <img src="../../../img/blog-img/products-right-arrow.webp" alt="arrow" class="products-control">
        </button>
    </div>
</section>