<section class="cart">
    <div class="container">
        <div class="border-box">
            <h2 class="cart-title">
                Cart
            </h2>   
            <ul class="cart-list1">
                <p class="text">
                    Shop
                </p>
                <ul class="cart-sublist">
                    <li class="card-item">
                        <p class="text">
                            Price
                        </p>
                    </li>
                    <li class="card-item">
                        <p class="text">
                            Quantity
                        </p>
                    </li>
                    <li class="card-item">
                    <p class="text">
                            Subtotal
                    </p>
                    </li>
                </ul>
            </ul>
            <div class="cart-box2">
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                    <path d="M10.3 10.2997L3.70031 3.70008" stroke="#292A33" stroke-linecap="round"/>
                    <path d="M10.2997 3.70008L3.70002 10.2997" stroke="#292A33" stroke-linecap="round"/>
                </svg>
                <img src="/img/shop-img/CartImg.jpg" alt="">
                <p class="cart-text">
                    Fiery Red Bruden Backpack
                </p>
                <ul class="cart-sublist2">
                    <li class="card-item2">
                        <p class="card-text2">
                            C$ 99.99
                        </p>
                    </li>
                    <li class="card-item2"> 
                        <ul class="list-text">
                            <li>
                                <p class="Quantity">
                                    Qty:
                                </p>
                            </li>
                            <li>
                                <p class="Quantity">
                                    2
                                </p>
                            </li>
                        </ul>
                    </li>
                    <li class="card-item2">
                    <p class="card-text2">
                            C$ 199.98
                    </p>
                    </li>
                </ul>
            </div>
            <div class="input-section">
                <input class="input" type="text" name="" id="">
                <button class="input-btn" type="button">
                    Apply coupon
                </button>
            </div>
            <button class="update-btn" type="button">
                Update cart
            </button>
        </div>
        <section class="cart-total">
            <h3 class="cart-subtitle">
                Cart totals
            </h3>
           <div class="total-line1">
                <p class="subtotal1">
                    Subtotal
                </p>
                <p  class="subtotal2">
                    C$ 199.98
                </p>
           </div>
           <div class="total-line2">
                <p class="total1">
                    Total
                </p>
                <p  class="total2">
                    C$ 199.98
                </p>
           </div>
           <button class="button" type="button">
                Proceed to checkout
           </button>
        </section>
    </div>
</section>