<section class="shop">
    <div class="container">
        <h2 class="shop-title">
            Shop
        </h2>
        <ul class="shop-list">
            <li>
                <aside class="shop-hotbar"> 
                    <h2>
                        Filter by price
                    </h2>
                    <ul class="line-list">
                        <li>
                            <div class="line-elements"></div>
                        </li>
                        <li>
                            <div class="line-elements"></div>
                        </li>
                        <li>
                            <div class="line-elements"></div>
                        </li>
                    </ul>
                    <p class="shop-text">
                        Price $30 - $110
                    </p>
                    <h3 class="subtitle">
                        Product tags
                    </h3>
                    <ul class="shop-button-list">
                        <li>
                            <a href="#" class="shop-button">
                                Bags
                            </a>
                        </li>
                        <li>
                            <a href="#" class="shop-button">
                                sunglasses
                            </a>
                        </li>
                        <li>
                            <a href="#" class="shop-button">
                                Belts
                            </a>
                        </li>
                    </ul>
                </aside>
            </li>
            <li>
                <div class="shop-box">
                    <nav>
                        <ul class="shop-icon-list">
                            <li>
                                <img src="/img/shop-img/shop-icon(red).png" alt="">
                            </li>
                            <li>
                                <img src="/img/shop-img/shop-icon(black).png" alt="">
                            </li>
                        </ul>
                        <p class="nav-text">
                            Showing 1–12 of 15 results
                        </p>
                        <button type="button">
                            Default sorting
                        </button>
                    </nav>
                    <ul class="card-list">
                        <li>
                            <img src="/img/shop-img/shop-item1.jpg" alt="">
                            <img src="/img/shop-img/heart.png" alt="">
                            <img src="/img/shop-img/eye.png" alt="">
                            <img src="/img/shop-img/cart.png" alt="">
                            <h3 class="cards-title">
                                Bruden's Backpack
                            </h3>
                            <img class="card-star" src="/img/shop-img/stars.png" alt="">
                            <p class="cards">
                                C$ 66.49
                            </p>
                        </li>
                        <li>
                            <img src="/img/shop-img/shop-item2.jpg" alt="">
                            <img src="/img/shop-img/heart.png" alt="">
                            <img src="/img/shop-img/eye.png" alt="">
                            <img src="/img/shop-img/cart.png" alt="">
                            <h3 class="cards-title">
                                Bruden's Backpack
                            </h3>
                            <img class="card-star" src="/img/shop-img/stars.png" alt="">
                            <p class="cards">
                                C$ 66.49
                            </p>
                        </li>
                        <li>
                            <img src="/img/shop-img/shop-item3.jpg" alt="">
                            <img src="/img/shop-img/heart.png" alt="">
                            <img src="/img/shop-img/eye.png" alt="">
                            <img src="/img/shop-img/cart.png" alt="">
                            <h3 class="cards-title">
                                Bruden Belt
                            </h3>
                            <img class="card-star" src="/img/shop-img/stars.png" alt="">
                            <p class="cards">
                                C$ 24.49
                            </p>
                        </li>
                        <li>
                            <img src="/img/shop-img/shop-item4.jpg" alt="">
                            <img src="/img/shop-img/heart.png" alt="">
                            <img src="/img/shop-img/eye.png" alt="">
                            <img src="/img/shop-img/cart.png" alt="">
                            <h3 class="cards-title">
                                Sweet Pink Bruden Backpack
                            </h3>
                            <img class="card-star" src="/img/shop-img/stars.png" alt="">
                            <p class="cards">
                                C$ 99.99
                            </p>
                        </li>
                        <li>
                            <img src="/img/shop-img/shop-item5.jpg" alt="">
                            <img src="/img/shop-img/heart.png" alt="">
                            <img src="/img/shop-img/eye.png" alt="">
                            <img src="/img/shop-img/cart.png" alt="">
                            <h3 class="cards-title">
                                MTL
                            </h3>
                            <img class="card-star" src="/img/shop-img/stars.png" alt="">
                            <p class="cards">
                                C$ 49.99
                            </p>
                        </li>
                        <li>
                            <img src="/img/shop-img/shop-item6.jpg" alt="">
                            <img src="/img/shop-img/heart.png" alt="">
                            <img src="/img/shop-img/eye.png" alt="">
                            <img src="/img/shop-img/cart.png" alt="">
                            <h3 class="cards-title">
                                LA
                            </h3>
                            <img class="card-star" src="/img/shop-img/stars.png" alt="">
                            <p class="cards">
                                C$ 35.00
                            </p>
                        </li>
                    </ul>
                    <ul class="button-slider">
                        <li>
                            <button class="blog-button-first-page" type="button">
                                1
                            </button>
                        </li>
                        <li>
                            <button class="blog-button-second-page" type="button">
                                2
                            </button>
                        </li>
                        <li>
                            <button class="blog-button-control" type="button">
                                >
                            </button>
                        </li>
                    </ul>

                </div>
            </li>
        </ul>
    </div>
</section>