.gallery-title {
    color: #000;
font-family: 'Cormorant';
font-size: 28px;
font-weight: 400;
line-height: normal;
letter-spacing: 2.8px;
text-transform: capitalize;
text-align: center;
}

.gallery-title::after {
    content: '';
    display: block;
    width: 100px;
    height: 1px;
    background-color: #DE1616;
    margin-top: 10px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

.gallery-img {
width: 360px;
height: 360px;
}

.gallery {
    padding-top: 90px;
}

.gallery-posts {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.gallery-button-first-page {
    color: #FFF;
font-family: 'Josefin Sans';
font-size: 18px;
font-weight: 300;
line-height: normal;
letter-spacing: 0.9px;
text-transform: capitalize;
background-color: #292A33;
width: 30px;
border: none;
width: 30px;
height: 30px;
}

.gallery-button-second-page {
    color: #000;
font-family: 'Josefin Sans';
font-size: 18px;
font-weight: 300;
line-height: normal;
letter-spacing: 0.9px;
text-transform: capitalize;
background-color: #fff;
border: none;
width: 30px;
height: 30px;
}

.gallery-button-second-page:hover {
    color: #ffffff;
font-family: 'Josefin Sans';
font-size: 18px;
font-weight: 300;
line-height: normal;
letter-spacing: 0.9px;
text-transform: capitalize;
background-color: #292A33;
border: none;
width: 30px;
height: 30px;
}

.gallery-button-control {
    color: #000;
font-family: 'Josefin Sans';
font-size: 18px;
font-weight: 300;
line-height: normal;
letter-spacing: 0.9px;
text-transform: capitalize;
background-color: #fff;
border: none;
width: 30px;
height: 30px;
}

.gallery-button-box {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 40px;
}