.products {
    padding-top: 90px;
}

.products-title {
    color: #000;
font-family: 'Cormorant';
font-size: 28px;
font-weight: 400;
line-height: normal;
letter-spacing: 2.8px;
text-transform: capitalize;
text-align: center;
margin-bottom: 50px;
}

.products-title::after {
    content: '';
    display: block;
    width: 100px;
    height: 1px;
    background-color: #DE1616;
    margin-top: 10px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

.products-text {
    color: #000;
text-align: center;
font-family: 'Cormorant';
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 1.8px;
}

.products-text::after {
    content: '';
    display: block;
    width: 180px;
    height: 1px;
    background-color: #7F7F7F;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.products-cash {
    color: #000;
font-family: 'Josefin Sans';
font-size: 22px;
font-style: normal;
font-weight: 300;
line-height: normal;
letter-spacing: 1.1px;
text-align: center;
margin-top: 15px;
}

.products-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
}

.products-stars {
    margin-left: 45px;
    margin-top: 10px;
}
/* 
.products-stars::before {
    content: '';
    display: block;
    background-color: #7F7F7F;
    width: 180px;
    height: 1px;

} */

.products-item {
    display: flex;
    width: 360px;
    height: 150px;
}

.products-item:hover {
    box-shadow: 0px 6px 34px 0px rgba(0, 0, 0, 0.15);
}

.products-box {
    padding: 17px 15px;
}

.products-button {
    border: none;
    background-color: #fff;
}

.products-button-box {
    display: flex; 
    gap: 40px;
    margin-top: 40px;
    justify-content: center;
}
/* 
.line {
    display: flex;
    width: 100px;
    height: 1px;
    background: #de1616;
    margin-bottom: 50px;
    margin-top: 10px;
} */