<section class="advertisting">
    <div class="container">
        <ul class="block-list">
            <li>
                <div class="advertisting-blocks">
                    <h2 class="advertisting-title1">
                        New arrival
                    </h2>
                    <p class="advertisting-text">
                        Exclusive Denisha Bruce Red Backpack Launch
                    </p>
                    <button type="button" class="advertisting-button1">
                        SHOP NOW
                    </button>
                </div>
            </li>
            <li>
                <div class="advertisting-blocks">
                    <h2 class="advertisting-title2">
                        An addition to all your fits
                    </h2>
                    <button class="advertisting-button2">
                        SHOP NOW
                    </button>
                </div>
            </li>
        </ul>
    </div>
</section>