<section class="category-section">
    <div class="container">
        <h2 class="category-title">Shop By Category</h2>
        <div class="border"></div>
        <div class="category-content">
            <ul class="category-list">
                <li class="category-item">
                    <a href="/partials/shop-page/shop-page.html">
                    <img class="category-img" src="/img/main-img/backpack.webp" alt="Backpack">
                    <p class="category-subtitle">Bags</p>
                </a>
                </li>
                <li class="category-item">
                    <a href="/partials/shop-page/shop-page.html">
                    <img class="category-img" src="/img/main-img/sunglasses.webp" alt="Sunglasses">
                    <p class="category-subtitle">Sunglasses</p>
                </a>
                </li>
                <li class="category-item"> 
                    <a href="/partials/shop-page/shop-page.html">
                    <img class="category-img" src="/img/main-img/belt.webp" alt="Belts">
                    <p class="category-subtitle">Belts</p>
                </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="buttons-box">
        <button type="button" class="left-arrowbtn">
            <img class="left-arrow" src="/img/main-img/left-arrow.png" alt="">
        </button>
        <button type="button" class="right-arrowbtn">
            <img class="right-arrow" src="/img/main-img/right-arrow.png" alt="">
        </button>
    </div>
</section>
