<section class="category-section">
    <div class="container">
        <ul class="category-list">
            <li class="category-item">
                <img class="category-img" src="/img/backpack.webp" alt="Backpack">
                <p class="category-subtitle">Bags</p>
            </li>
            <li class="category-item">
                <img class="category-img" src="/img/sunglasses.webp" alt="Sunglasses">
                <p class="category-subtitle">Sunglasses</p>
            </li>
            <li class="category-item"> 
                <img class="category-img" src="/img/belt.webp" alt="Belts">
                <p class="category-subtitle">Belts</p>
            </li>
        </ul>
        <ul class="arrow-list">
            <li class="arrow-item">
                <a href="#"><img src="/img/left-arrow.webp" alt="arrows"></a>
            </li>
            <li class="arrow-item">
                <a href="#"><img src="/img/right-arrow.webp" alt="arrows"></a>
            </li>
        </ul>
    </div>
</section>