<section class="compilation">
  <div class="container">
    <ul class="compilation-list">
      <li class="compilation-item">
        <img class="compilation-img-left" src="/img/main-img/compilation-blackw.webp" alt="Women" />
        <h3 class="compilation-text-left">New arrival</h3>
        <p class="compilation-paragpraph-left">
          Exclusive Denisha Bruce<br>Red Backpack Launch
        </p>
        <button class="compilation-button-left">SHOP NOW</button>
      </li>
      <li class="compilation-item">
        <img class="compilation-img-right" src="/img/main-img/compilation-whitew.webp" alt="Women" />
        <h3 class="compilation-text-right">An addition to<br>all your fits</h3>
        <button class="compilation-button-right">SHOP NOW</button>
      </li>
    </ul>
  </div>
</section>
