<section class="deal">
    <div class="container">
        <h2 class="deal-title">Deal of the week</h2>
        <ul class="deal-list">
            <li class="deal-item">
                <img src="/img/main-img/deal-bag.webp" alt="" class="deal-img">
                <h3 class="deal-subtitle">Fiery Red Bruden Backpack</h3>
                <img src="/img/main-img/stars-deal.webp" alt="зірки" class="deal-img">
                <p class="deal-cash">C$ 99.99</p>
                <p class="deal-text">Bruden's Backpack will give all your essentials a home while still feeling comfortable and having a... </p>
                <p class="deal-button">Add to cart</p>
            </li>
            <li class="deal-item">
                <img src="/img/main-img/deal-bag2.webp" alt="" class="deal-img">
                <h3 class="deal-subtitle">Bruden's Backpack</h3>
                <img src="/img/main-img/stars-deal.webp" alt="зірки" class="deal-stars">
                <p class="deal-cash">C$ 66.49</p>
                <p class="deal-text">Bruden's Backpack will give all your essentials a home while still feeling comfortable and having a... </p>
                <p class="deal-button">Add to cart</p>
            </li>
        </ul>
    </div>
</section>