<section class="deal">
  <div class="container">
    <h2 class="deal-title">Deal of the week</h2>
    <div class="border"></div>
    <ul class="deal-list">
      <li class="deal-item">
        <div class="deal-img-text">
          <img src="/img/main-img/deal-bag2.webp" alt="" class="deal-img" />
          <div class="deal-text">
            <h3 class="deal-subtitle">Fiery Red Bruden Backpack</h3>
            <img src="/img/main-img/stars.png" alt="зірки" class="deal-img">
            <p class="deal-cash">C$ 99.99</p>
            <p class="deal-description">
              Bruden's Backpack will give all your essentials a home while still
              feeling comfortable and having a...
            </p>
            <button class="deal-button">Add to cart</button>
            <div class="icons">
            <img src="/img/shop-img/heart.png" alt="heart">
            <img src="/img/shop-img/eye.png" alt="eye">
          </div>
        </div>
      </li>
      <li class="deal-item">
        <div class="deal-img-text">
          <img src="/img/main-img/deal-bag.webp" alt="" class="deal-img" />
          <div class="deal-text">
            <h3 class="deal-subtitle">Bruden's Backpack</h3>
            <img src="/img/main-img/stars.png" alt="зірки" class="deal-img">
            <p class="deal-cash">C$ 66.49</p>
            <p class="deal-description">
              Bruden's Backpack will give all your essentials a home while still
              feeling comfortable and having a...
            </p>
            <div class="button-div">
            <button class="deal-button">Add to cart</button>
        </div>
            <div class="icons-div">
            <img src="/img/shop-img/heart.png" alt="heart">
            <img src="/img/shop-img/eye.png" alt="eye">
        </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="buttons-box">
    <button type="button" class="left-arrowbtn">
        <img class="left-arrow" src="/img/main-img/left-arrow.png" alt="">
    </button>
    <button type="button" class="right-arrowbtn">
        <img class="right-arrow" src="/img/main-img/right-arrow.png" alt="">
    </button>
</section>
