<footer>
  <div class="container footer-box">
    <div class="footer-line">
      <ul class="footer-list1">
        <li>
          <a href="#" class="logo">
            <img src="/img/main-img/logo.jpg" alt="logo" />
          </a>
        </li>
        <li>
          <div class="footer-icons-box">
            <img class="icon-instagram" src="/img/main-img/instagram.png" alt="icon" />
            <a class="link-insatgram" href="#"> @brudenmtl </a>
          </div>
          <p class="copyright">©2022 by Bruden Mode. Proudly created with</p>
        </li>
      </ul>
    </div>
    <ul class="footer-list2">
      <li>
        <ul class="footer-sublist">
          <li>
            <p class="footer-subtitle"> Shop</p>
          </li>
          <li>
            <a href="#" class="footer-sub-link">
              Bags
            </a>
          </li>
          <li>
            <a href="#" class="footer-sub-link">
              Belts
            </a>
          </li>
          <li>
            <a href="#" class="footer-sub-link">
              Sunglasses
            </a>
          </li>
        </ul>
      </li>
      <li>
        <ul class="footer-sublist">
          <li>
            <p class="footer-subtitle">Account</p>
          </li>
          <li>
            <a href="#" class="footer-sub-link">
              Orders
            </a>
          </li>
          <li>
            <a href="#" class="footer-sub-link">
              Checkout
            </a>
          </li>
          <li>
            <a href="#" class="footer-sub-link">
              My Account
            </a>
          </li>
          <li>
          <a href="#" class="footer-sub-link">
              Account Details
          </a>
          </li>
        </ul>
      </li>
      <li>
        <ul class="footer-sublist">
          <li>  
            <p class="footer-subtitle">Information</p>
          </li>
          <li>
            <a href="" class="footer-sub-link">
              FAQ’s
            </a>
          </li>
          <li>
            <a href="#" class="footer-sub-link">
              Contact Us
            </a>
          </li>
          <li>
            <a href="#" class="footer-sub-link">
              Privacy Policy
            </a>
          </li>
          <li>
            <a href="#" class="footer-sub-link">
                Return policy
            </a>
          </li>
          <li>
            <a href="#" class="footer-sub-link">
                Shipping Policy
            </a>
          </li>
          <li>
            <a href="#" class="footer-sub-link">
                Terms and Conditions
            </a>
          </li>
        </ul>
      </li>
      <li>
        <ul class="footer-sublist">
          <li>
            <p class="footer-subtitle">Contacts</p>
          </li>
          <li>
            <a href="mailto:email@mail.com" class="footer-sub-link">
              email@mail.com
            </a>
          </li>
          <li>
            <a href="tel:+10000000000" class="footer-sub-link">
              +1-000-000-0000
            </a>
          </li>
          <li>
            <a href="№" class="footer-sub-link">
              Bld, Street, town, ZIP Code 
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="line"></div>
  <div class="line2"></div>
</footer>
