<header>
  <nav>
    <div class="container">
      <ul class="nav-list">
        <li>
            <a href="/"><img src="/img/main-img/logo.jpg" alt="logo" /></a>
        </li>
        <li>
          <ul class="header-link-list">  
            <li>
                <a class="header-link" href="/">Home</a>
            </li>
            <li>
                <a class="header-link" href="/src/partials/shop-page/shop-page.html">Shop</a>
            </li>
            <li>
                <a class="header-link" href="/src/partials/blog-page/blog-page.html">Blog</a>
            </li>
            <li>
                <a class="header-link" href="/src/partials/about-page/about-page.html">About Us</a>
            </li>
            <li>
                <a class="header-link" href="/src/partials/contact-page/contact-page.html">Contact Us</a>
          </li>
          </ul>
        </li>
        <li>
          <ul class="header-icons-list"> 
            <li>
              <a href="#">
                <img src="/img/main-img/instagram.png" alt="icon">
              </a>
            </li>
            <li>
              <a href="#">
                <img src="/img/main-img/magnifier.png" alt="icon">
              </a>
            </li>
            <li>
              <a href="/partials/account-page/account-page.html">
                <img src="/img/main-img/account.png" alt="icon">
              </a>
            </li>
            <li>
              <a href="/partials/shop-page/cart-page.html">
                <img src="/img/main-img/cart.png" alt="icon">
              </a>
            </li>
            <li>
              <ul class="icons-list">
                <li>
                  <div class="icon-0">
                    <p class="icon-0-text">0</p>
                </div>
                </li>
                <li>
                  <p class="balance">
                    $ 0.00
                  </p>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>
