<header>
  <nav>
    <a href="/"><img src="/img/main-img/header-title.webp" alt="logo" /></a>
    <ul>
      <li>
        <a href="/">Home</a>
    </li>
      <li>
        <a href="/partials/shop-page/shop-page.html">Shop</a>
    </li>
      <li>
        <a href="/partials/blog-page/blog-page.html">Blog</a>
    </li>
      <li>
        <a href="/partials/about-page/about-page.html">About Us</a>
    </li>
      <li>
        <a href="/partials/contact-page/contact-page.html">Contact Us</a>
    </li>
    <li>
        <a href="#"><img src="/img/main-img/instagram.png" alt="icon"></a>
    </li>
    <li>
        <a href="#"><img src="/img/main-img/magnifier.png" alt="icon"></a>
    </li>
    <li>
        <a href="#"><img src="/img/main-img/account.png" alt="icon"></a>
    </li>
    <li>
        <a href="#"><img src="/img/main-img/cart.png" alt=""></a>
    </li>
    <div>
        <p>0</p>
    </div>
    <div>
        $ 0.00
    </div>
    </ul>
  </nav>

</header>
