<header>
  <nav>
    <a href="#"><img src="/img/header-title.webp" alt="logo" /></a>
    <ul>
      <li>
        <a href="#">Home</a>
    </li>
      <li>
        <a href="#">Shop</a>
    </li>
      <li>
        <a href="#">Blog</a>
    </li>
      <li>
        <a href="#">About U</a>
    </li>
      <li>
        <a href="#">Contact Us</a>
    </li>
    <li>
        <a href="#"><img src="/img/instagram.png" alt="icon"></a>
    </li>
    <li>
        <a href="#"><img src="/img/magnifier.png" alt="icon"></a>
    </li>
    <li>
        <a href="#"><img src="/img/account.png" alt="icon"></a>
    </li>
    <li>
        <a href="#"><img src="/img/cart.png" alt=""></a>
    </li>
    <div>
        <p>0</p>
    </div>
    <div>
        $ 0.00
    </div>
    </ul>
  </nav>

</header>
