<section class="hero-section">
    <div class="container">
        <div class="img-container">
            <!-- <img class="hero-img" src="/img/main-img/hero-women.webp" alt="Actor"> -->
        </div>
        <p class="hero-overview">Bags - sunglasses - belts</p>
        <h1 class="hero-title">Exclusive accessories for connoisseurs of style</h1>
        <p class="hero-paragraph">Designed in Montreal, Bruden's Backpack embodies luxury fashion while keeping comfort and versatility</p>
        <button class="hero-button" type="button">SHOP NOW</button>
    </div>
</section>