<section class="hero-section">
  <div class="container">
    <div class="content-container">
      <div class="text-container">
        <p class="hero-overview">Bags - sunglasses - belts</p>
        <h1 class="hero-title">
          Exclusive accessories for connoisseurs of style
        </h1>
        <p class="hero-paragraph">
          Designed in Montreal, Bruden's Backpack embodies luxury fashion while
          keeping comfort and versatility
        </p>
        <div class="circles">
            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none">
                <circle cx="5" cy="5" r="4.5" stroke="black"/>
              </svg>
              <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none">
                <circle cx="5" cy="5" r="5" fill="black"/>
              </svg>
        </div>
        <button class="hero-button" type="button">SHOP NOW</button>
      </div>
      <div class="img-container">
        <img class="hero-img" src="/img/main-img/hero-women.webp" alt="Actor" />
      </div>
    </div>
  </div>
</section>
