<section class="news">
    <div class="container">
        <h2 class="news-title">
            Latest news
        </h2>
        <ul class="news-list">
            <li class="news-item">
                <h3 class="news-sub-list">
                    April 3 - 2 min read
                </h3>
                <img class="news-img" src="" alt="">
                <h4 class="news-caption">
                    Bruden Mode Is Taking Care of Women
                </h4>
                <p class="news-text">
                    Bruden Mode in Montreal has 
                    taken a lot of time and put a 
                    lot of effort into helping women not only look great but to be more healthy.
                </p>
                <a class="news-link" href="#">Read more</a>
            </li>
            <li class="news-item">
                <h3 class="news-sub-list">
                    Mar 3 - 2 min read
                </h3>
                <img class="news-img" src="" alt="">
                <h4 class="news-caption">
                    Bruden Mode Accessories
                </h4>
                <p class="news-text">
                    Finding the perfect little thing
                     that compliments your wardrobe 
                     can give you the confidence and
                     the feeling you love to be your best.
                </p>
                <a class="news-link" href="#">Read more</a>
            </li>
            <li class="news-item">
                <h3 class="news-sub-list">
                    Jan 4 - 3 min read
                </h3>
                <img class="news-img" src="" alt="">
                <h4 class="news-caption">
                    Different Types of Backpacks
                </h4>
                <p class="news-text">
                    Different backpacks do different things and serve various purposes.
                </p>
                <a class="news-link" href="#">Read more</a>
            </li>
        </ul>
        <div class="buttons-box">
            <button type="button" class="left-arrowbtn">
                <img class="left-arrow" src="/img/main-img/left-arrow.png" alt="">
            </button>
            <button type="button" class="right-arrowbtn">
                <img class="right-arrow" src="/img/main-img/right-arrow.png" alt="">
            </button>
        </div>
    </div>
</section>
