<section class="popularity">
    <div class="container">
        <ul class="box-list">
            <li>
                <div class="popularity">
                    <h2 class="popularity-title">
                        Fits any style
                    </h2>
                    <p class="popularity-text">
                        Precise fit on sliding buckle with no holes
                    </p>
                    <button class="popularity-btn">
                        SHOP NOW
                    </button>
                </div>
            </li>
            <li>
                <div class="popularity">

                </div>
            </li>
        </ul>
    </div>
</section>