<section class="popularity">
  <div class="container">
    <ul class="box-list">
      <li>
        <div class="popularity">
          <div class="popularity-content">
            <h2 class="popularity-title">Fits any style</h2>
            <p class="popularity-text">
              Precise fit on sliding<br />buckle with no holes
            </p>
            <a href="/partials/shop-page/shop-page.html"><button class="popularity-btn">SHOP NOW</button></a>
          </div>
          <div class="popularity-image">
            <img
              class="popularity-img"
              src="/img/main-img/popularity-belt.png"
              alt="Belt"
            />
          </div>
        </div>
      </li>
      <li></li>
    </ul>
  </div>
</section>
