.cart {
    padding: 30px 0px 90px 0px;
}

.cart-title {
    margin-bottom: 50px;
    color: #000;
    text-align: center;
    font-family: Cormorant;
    font-size: 42px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 4.2px;
}

.text {
    color: #000;
    font-family: Josefin Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.9px;
    text-transform: capitalize;
}

.cart-text {
    margin-right: 125px;
    color: #000;
    font-family: Cormorant;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2.4px;
    text-transform: capitalize;
}

.card-text2 {
    margin-right: 74px;
    color: #000;
    font-family: Josefin Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 1.1px;
}

.card-text3 {
    margin-left:85px;
    color: #000;
    font-family: Josefin Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 1.1px;
}

.Quantity {
    color: #000;
    font-family: Josefin Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 1.1px;
}

.border-quintilty {
    display: flex;
    justify-content: center;
    align-items: center ;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.30);
}

.input {
    width: 233px;
    outline: none;
    border: 1px solid var(--grey, #7F7F7F);
}


.input-btn {
    color: #FFF;
    font-family: Josefin Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.7px;
    text-transform: capitalize;
    border-radius: 0;
    border: none;
    padding: 8px 14px;
    background: var(--black, #292A33);
}

.input-section {
    display: flex;
}

.update-btn {
    border: none;
    padding: 8px 14px;
    opacity: 0.5;
    background: var(--black, #292A33);
    color: #FFF;
    font-family: Josefin Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.7px;
    text-transform: capitalize;
}

.cart-subtitle{
    padding: 18px 0px 18px 25px;
    border-bottom: 1px solid var(--grey, #7F7F7F);
    color: #000;
    font-family: Cormorant;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2.4px;
    text-transform: capitalize;
}

.subtotal1 {
    color: #000;
    font-family: Josefin Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.9px;
    text-transform: capitalize;
}

.subtotal2 {
    color: #000;
    text-align: right;
    font-family: Josefin Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 1.1px;
}

.total-line1{
    padding: 19px 25px 19px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.total-line2 {
    border-bottom: 1px solid var(--grey, #7F7F7F);
    padding: 19px 25px 19px 25px;
    display: flex;
    align-items: center;
    color: #000;
    font-family: Josefin Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.9px;
    text-transform: capitalize;
}

.total2 {
    color: #000;
    text-align: right;
    font-family: Josefin Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 1.1px;
}

.button {
    margin: 12px auto 12px auto;
    border: none;
    padding: 14px 120px;
    background: var(--black, #292A33);
    color: #FFF;
    font-family: Josefin Sans;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 2.7px;
    text-transform: uppercase;
}

.border-box{
    border: 1px solid var(--grey, #7F7F7F);
}

.cart-list1 {
    border-bottom: 1px solid var(--grey, #7F7F7F);
}

.cart-box2 {
    border-bottom: 1px solid var(--grey, #7F7F7F);
}

.cart-total {
    border: 1px solid var(--grey, #7F7F7F);
}

.total-line1 {
    border-bottom: 1px solid var(--grey, #7F7F7F);
}

.cart-total {
    width: 560px;
    margin-top: 60px;
}

.flex-container {
    display: flex;
    justify-content: end    ;
}

.cart-list1 {
    height: 50px;
    padding-left: 258px;
    display: flex;
    align-items: center;
    gap: 400px;
}

.cart-box2 {
    padding: 0px 15px 0px 25px;
    height: 90px;
    display: flex;
    align-items: center;
}

.cart-box2 svg {
    margin-right: 71px;
}

.cart-box2 img {
    margin-right: 87px;
}

.cart-sublist {
    display: flex;
    gap: 127.5px;
}

.cart-sublist2 {
    display: flex;
    align-items: center;
}

.list-text {
    display: flex;
    align-items: center;
    gap: 10px;
}

.Quantity2 {
    background: #FFF;
    color: #000;
    font-family: Josefin Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.9px;
    text-transform: capitalize;
}

.line3 {
    height: 50px;
    display: flex;
    gap: 634px;
    justify-content: center;
    align-items: center;
}