<section class="contact-us">
    <div class="container">
        <h2 class="contact-us-title">
            Contact Us
        </h2>
        <div class="-first-contact-section">
            <aside class="contact-hotbar">
                <h3 class="contact-title">
                    Our contact
                </h3>
                <h4 class="contact-subtitle">
                    Address:
                </h4>
                <p class="contact-text">
                    street, town, ZIP code
                </p>
                <h4 class="contact-subtitle">
                    Phone numbers:
                </h4>
                <p class="contact-text">
                    +1 - 000 - 000 - 0000
                </p>
                <h4 class="contact-subtitle">
                    Email:
                </h4>
                <p class="contact-text">
                    email@mail.com
                </p>
            </aside>
            <div>
                <ul class="div-box">
                    <li>
                        <div class="contact-us-box">
                            <h3 class="contact-title">
                                Leave a reply
                            </h3>
                            <label class="contact-label" for="Your-Name">Your Name</label>
                            <input class="contact-inputs" type="text" name="Your-Name" id="">
                            <label class="contact-label" for="Your-mail">Your E-mail</label>
                            <input class="contact-inputs" type="text" name="Your-mail" id="">
                            <label class="contact-label" for="Subject">Subject</label>
                            <input class="contact-inputs" type="text" name="Subject" id="">
                            <label class="contact-label" for="your-mesagge">Your Message (Optional)</label>
                            <input class="contact-inputs" type="text" name="your-mesagge" id="">
                            <button class="contact-button" type="button">
                                SHOP NOW
                            </button>
                        </div>
                    </li>
                    <li>
                        <div class="contact-us-hotbar">
                            <h3 class="contact-title">
                                Archives
                            </h3>
                            <div class="contact-text-box">
                                <p class="hotbar-text">
                                    March 2022
                                </p>
                                <p class="hotbar-text">
                                    (1)
                                </p>
                            </div>
                            <div class="contact-text-box">
                                <p class="hotbar-text">
                                    February 2022
                                </p>
                                <p class="hotbar-text">
                                    (2)
                                </p>
                            </div>
                            <div class="contact-text-box">
                                <p class="hotbar-text">
                                    January 2022
                                </p>
                                <p class="hotbar-text">
                                    (3)
                                </p>
                            </div>
                            <h3>
                                Categories
                            </h3>
                            <div class="contact-text-box">
                                <p class="hotbar-text">
                                    Electric
                                </p>
                                <p class="hotbar-text">
                                    (3)
                                </p>
                            </div>
                            <div class="contact-text-box">
                                <p class="hotbar-text">
                                    Fan
                                </p>
                                <p class="hotbar-text">
                                    (2)
                                </p>
                            </div>
                            <div class="contact-text-box">
                                <p class="hotbar-text">
                                    Machine
                                </p>
                                <p class="hotbar-text">
                                    (2)
                                </p>
                            </div>
                            <h3 class="contact-title">
                                Recent Posts
                            </h3>
                            <ul class=" recent-posts">
                                <li>
                                    <img class="recent-img" src="/img/contact-img/panelPhoto.jpg" alt="">
                                    <p class="recent-img">
                                        Bruden Mode ...
                                    </p>
                                    <a class="recent-img" href="#">
                                        April 3, 2022
                                    </a>
                                </li>
                                <li>
                                    <img class="recent-img" src="/img/contact-img/panelPhoto.jpg" alt="">
                                    <p class="recent-img">
                                        Bruden Mode ...
                                    </p>
                                    <a class="recent-img" href="#">
                                        April 3, 2022
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <address>
            <a class="adress-link" href="#">
                <img class="adress-img" src="/img/contact-img/map.png" alt="map">
            </a>
        </address>
        
    </div>
</section>