<section class="contact-us">
    <div class="container">
        <h2 class="contact-us-title">
            Contact Us
        </h2>
        <div class="first-contact-section">
            <aside class="contact-hotbar">
                <ul class="contact-hotbar-list">
                    <li>
                        <h3 class="contact-title">
                            Our contact
                        </h3>
                    </li>
                    <li>
                        <h4 class="contact-subtitle">
                            Address:
                        </h4>
                        <p class="contact-text">
                            street, town, ZIP code
                        </p>
                    </li>
                    <li>
                        <h4 class="contact-subtitle">
                            Phone numbers:
                        </h4>
                        <p class="contact-text">
                            +1 - 000 - 000 - 0000
                        </p>
                    </li>
                    <li>
                        <h4 class="contact-subtitle">
                            Email:
                        </h4>
                        <p class="contact-text">
                            email@mail.com
                        </p>
                    </li>
                </ul>
            </aside>
            <div>
                <ul class="div-box">
                    <li>
                        <ul class="contact2-box">
                            <li>
                                <h3 class="contact-title">
                                    Leave a reply
                                </h3>
                            </li>
                            <li>
                                <div class="inputs-box">
                                    <label class="contact-label" for="Your-Name">Your Name</label>
                                    <input class="contact-inputs" type="text" name="Your-Name" id="">
                                </div>
                            </li>
                            <li>
                                <div class="inputs-box">
                                    <label class="contact-label" for="Your-mail">Your E-mail</label>
                                    <input class="contact-inputs" type="text" name="Your-mail" id="">
                                </div>     
                            </li>
                            <li>
                                <div class="inputs-box">
                                    <label class="contact-label" for="Subject">Subject</label>
                                    <input class="contact-inputs" type="text" name="Subject" id="">
                                </div>
                            </li>
                            <li>
                                <div class="inputs-box">
                                    <label class="contact-label" for="your-mesagge">Your Message (Optional)</label>
                                    <input class="last-contact-inputs" type="text" name="your-mesagge" id="">
                                </div>
                            </li>
                            <li>
                                <button class="contact-button" type="button">
                                    SHOP NOW
                                </button>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div class="contact-us-hotbar">
                            <h3 class="contact-title3">
                                Archives
                            </h3>
                            <div class="text-line1">
                                <div class="contact-text-box">
                                    <p class="hotbar-text">
                                        March 2022
                                    </p>
                                    <p class="hotbar-text">
                                        (1)
                                    </p>
                                </div>
                            </div>
                            <div class="text-line2">
                                <div class="contact-text-box">
                                    <p class="hotbar-text">
                                        February 2022
                                    </p>
                                    <p class="hotbar-text">
                                        (2)
                                    </p>
                                </div>
                            </div>
                            <div class="text-line">
                                <div class="contact-text-box">
                                    <p class="hotbar-text">
                                        January 2022
                                    </p>
                                    <p class="hotbar-text">
                                        (3)
                                    </p>
                                </div>
                            </div>
                            
                            <h3 class="hotbar-title">
                                Categories
                            </h3>
                            <div class="text-line3">
                                <div class="contact-text-box">
                                    <p class="hotbar-text">
                                        Electric
                                    </p>
                                    <p class="hotbar-text">
                                        (3)
                                    </p>
                                </div>
                            </div>
                            <div class="text-line4">
                                <div class="contact-text-box">
                                    <p class="hotbar-text">
                                        Fan
                                    </p>
                                    <p class="hotbar-text">
                                        (2)
                                    </p>
                                </div>
                            </div>
                                <div class="contact-text-box">
                                    <p class="hotbar-text">
                                        Machine
                                    </p>
                                    <p class="hotbar-text">
                                        (2)
                                    </p>
                                </div>
                           
                            <h3 class="contact-title4">
                                Recent Posts
                            </h3>
                            <ul class="recent-posts">
                                <li>
                                    <img class="recent-img" src="/img/contact-img/panelPhoto.jpg" alt="">
                                    <div class="recent-box">
                                        <p class="recent-text">
                                            Bruden Mode ...
                                        </p>
                                        <a class="recent-discription" href="#">
                                            April 3, 2022
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <div class="recent-line"></div>
                                </li>
                                <li>
                                    <img class="recent-img" src="/img/contact-img/panelPhoto.jpg" alt="">
                                    <div class="recent-box">
                                        <p class="recent-text">
                                            Bruden Mode ...
                                        </p>
                                        <a class="recent-discription" href="#">
                                            April 3, 2022
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <address class="adress">
            <a class="adress-link" href="#">
                <iframe class="contact-img" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2715.9612595986796!2d37.573375177434535!3d47.09983012283344!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40e6e5ec095012ab%3A0xa902812d6e1531bb!2z0JDQt9C-0LLRgdGC0LDQu9GM!5e0!3m2!1sru!2sua!4v1694278998280!5m2!1sru!2sua" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </a>
        </address>
        
    </div>
</section>