<section class="paragraphes-section">
    <div class="container">
    <ul class="paragraphes-list">
        <li class="paragraphes-item">
            <h3 class="paragraph-title">
                Unique size for maximum comfort
            </h3>
            <p class="paragraph-overview">
                Our backpacks are not normal-sized. They are made in a mini size since this really is an alternative to a handbag, not solely in size but also in how you wear it.
            </p>
        </li>
        <li class="paragraphes-item">
            <h3 class="paragraph-title">
                A Healthy back and straight posture
            </h3>
            <p class="paragraph-overview">
                Two shoulder straps distribute the weight more evenly across the back. This will make women feel more comfortable while walking and reduces the likelihood of muscle spasms and poor posture
            </p>
        </li>
        <li class="paragraphes-item">
            <h3 class="paragraph-title">
                An alternative to carrying a handbag
            </h3>
            <p class="paragraph-overview">
                Our number one product, Bruden's Backpack was created for those who need an alternative to wearing a handbag. Those who prefer to wear their bags on their back than on just one shoulder
            </p>
        </li>
    </ul>
</div>
</section>