/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
/* @import url('./main-page/header.css'); */

          /* MAIN-STYLE */

@import url('./main-page/hero.css');
@import url('./main-page/deal.css');
@import url('./main-page/category.css');
@import url('./main-page/banner.css');
@import url('./main-page/header.css');
@import url('./main-page/news.css');
@import url('./main-page/popularity.css');
@import url('./main-page/footer.css');
@import url('./main-page/promotion.css');
@import url('./main-page/deal.css');

          /* SHOP-STYLE */

@import url('./shop-page/cart.css');
@import url('./shop-page/shop.css');

          /* CONTACT-PAGE */

@import url('./contact-page/contact.css');

          /* BLOG-PAGE */

@import url('./blog-page/blog.css');
@import url('./blog-page/gallery.css');
@import url('./blog-page/product.css');

          /* ABOUT-PAGE */
@import url('./about-page/about.css');
@import url('./about-page/paragraphes.css');


:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
