.compilation {
  position: relative;
  display: flex;
  align-items: center;
  gap: 40px;
}

.compilation-text-left {
  color: #000;
  font-family: Cormorant;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.8px;
  text-transform: capitalize;
}

.compilation-item {
  position: relative;
  height: 560px;
}
 
.compilation-paragpraph-left {
  color: #000;
  font-family: Josefin Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 160%;
  letter-spacing: 0.9px;
  margin-top: 10px;
}

.text-container-left {
  position: absolute;
  top: 40px;
  left: 40px;
}

.text-container-right {
  position: absolute;
  top: 40px;
  right: 40px;
}


.compilation-text-right {
  color: #fff;
  text-align: right;
  font-family: Cormorant;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 2.8px;
  text-transform: capitalize;
}

.compilation-button-right {
  position: absolute;
  display: inline-flex;
  padding: 14px 28px;
  gap: 10px;
  color: #fff;
  font-family: Josefin Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  right: 40px;
  bottom: 40px;
  border: 1px solid #fff;
  background: transparent;
  transition: background 0.3s, color 0.3s;
}

.compilation-button-left {
  position: absolute;
  display: inline-flex;
  padding: 14px 28px;
  color: var(--black, #292a33);
  font-family: Josefin Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  border: 1px solid var(--black, #292a33);
  left: 40px;
  bottom: 40px;
  background: transparent;
  transition: background 0.3s, color 0.3s;
}

.compilation-button-right:hover {
  color: black;
  background-color: white;
}

.compilation-button-left:hover {
  background-color: white;
}

.compilation-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 40px;
}

