.container {
  margin: 0 auto;
  width: 1160px;
}

.hero-section {
  display: flex;
  padding: 0px 140px 90px 140px;
  align-items: center;
}

.text-container {
  flex: 1;
  padding: 20px;
}

.content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-overview {
  color: var(--grey, #7f7f7f);
  font-family: Josefin Sans;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
  letter-spacing: 0.8px;
  text-transform: lowercase;
}

.hero-title {
  color: var(--black, #292a33);
  font-family: Cormorant;
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 54.6px */
  letter-spacing: 2.94px;
  text-transform: capitalize;
}

.hero-paragraph {
  color: #000;
  font-family: Josefin Sans;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 160%; /* 35.2px */
  letter-spacing: 2.2px;
  margin-top: 20px;
}

.hero-button {
  color: #fff;
  font-family: Josefin Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  display: flex;
  padding: 14px 28px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: var(--black, #292a33);
  margin-top: 35px;
}

.img-container {
  flex: 1;
  text-align: right;
  position: relative;
}

.hero-img {
  max-width: 100%;
  height: auto;
}

.circle {
  width: 10px;
  height: 10px;
  stroke-width: 1px;
  stroke: #000;
}

.fill-circle {
  width: 10px;
  height: 10px;
  fill: #000;
}

.circles {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  position: relative;
  right: 30px;
  bottom: 97px;
}
